.page {
  font-family: sans-serif;
  box-sizing: border-box;
  background: #f2f2f2;
}
.navbar-wrapper {
  background-color: #313131;
}
.nav-header {
  display: flex;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo-img {
  padding: 22px 27px 22px 27px;
}
.logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.navbar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}
.navbar-item {
  padding: 26px 35px 26px 0px;
}

.navbar-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}
.button-wrapper {
  display: flex;
  align-content: center;
}
.navbar-search {
  width: 68px;
  height: 70px;
  background-color: #000;
  border: none;
}

.parralax-banner {
  background-image: url(../img/header-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  min-height: 25vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.banner-header {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3vw;
}

.banner-link {
  background: #89ca62;
  padding: 16px 19px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-right: 2vw;
}
.banner-wrapper {
  text-align: center;
}
.banner-link1 {
  background: #14b9d5;
  padding: 16px 19px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
}
.section-header {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.trending-list {
  display: flex;
  flex-wrap: wrap;
}
.trending-img-wrapper {
  display: flex;
  text-decoration: none;
}
.trending-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.trending-header {
  background-color: #fff;
  padding: 20px 40px;
}
.trending-header-wrapper {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #353a3d;
  text-align: center;
  white-space: nowrap;
}
.our-clients {
  background-image: url(../img/parallax-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 35vw;
  margin-bottom: 50px;
}

.clients-header {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.banner-breaker {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  border: none;
  margin-top: 87px;
}

.grid-brands-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.grid-brands-item {
  display: flex;
  align-items: center;
}
.rated-grid-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 50px;
}
.rated-img {
  height: auto;
  width: 100%;
}

.hot-grid-container {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 43px;
}
.hot-grid-elem {
  text-align: end;
  background-color: #f9f7f7;
}

.hot-post-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}
.hot-post-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin-bottom: 1vw;
  text-align: center;
  padding: 5px;
}
.hot-post-img {
  width: 100%;
  height: auto;
}

.hot-post-link {
  text-decoration: none;

  white-space: nowrap;
}
.hot-post {
  text-align: center;
  padding: 5px;
}
.hot-news .top {
  margin-bottom: 2vw;
}
.top-item {
  background-color: #f9f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-hot-news {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 35px;
}
.bot-hot-news {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 35px;
}
.bot-item {
  background-color: #f9f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hot-news .bot {
  margin-top: 2vw;
}
.footer-bg {
  background-color: #000;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.footer-item1 {
  padding: 30px 0;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  justify-self: start;
}
.footer-item2 {
  justify-self: end;
}
