.page-body {
  font-family: sans-serif;
  box-sizing: border-box;
}
.logo-link {
  text-decoration: none;
  color: #000;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 38px;
}
.logo-style {
  color: rgb(75, 202, 225);
}
.navbar {
  background-color: #35444f;
  width: 100%;
  min-width: 1280px;
  margin-bottom: 50px;
}
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.navbar-item-link {
  text-decoration: none;
  color: #ffffff;
}
.navbar-item {
  font-size: 24px;
  line-height: 28px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 26px;
  padding-bottom: 19px;
  border-left: 0.5px solid #fff;
  border-right: 0.5px solid #fff;
}
.navbar-item:hover {
  background-color: #222f3a;
}

.sidebar {
  border: 1px solid #000;
  display: flex;
  width: 350px;
  margin-right: 52px;
}
.sidebar-list {
  list-style: none;

  margin-top: 26px;
  margin-bottom: 30px;
}

.sidebar-list-item {
  padding-left: 44px;
  padding-bottom: 52px;
  margin: 0px;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  width: 100%;
}

.sidebar-list-item:hover {
  background-color: #dbdbdb;
  text-align: center;
  color: #35444f;
}

.sidebar-list-item-last {
  padding-bottom: 0px;
}

.sidebar-list-item-link {
  text-decoration: none;
  color: #485863;
}
.content {
  display: flex;
  max-width: 1280px;
}
.image {
  padding: 75px;
  transition: 0.2s;
}
.image:hover {
  scale: 120%;
}
.image-container {
  border: 1px solid #000;
  display: flex;
  justify-content: center;

  margin-bottom: 37px;
}

.paragraph-1 {
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 34px;
}

.paragraph-2 {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin: 0;
  margin-bottom: 54px;
}
.footer {
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);

  min-width: 1280px;
}
.footer-navbar {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 100px;
}
.footer-navbar-list {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;

  list-style: none;
  padding-left: 0;
  white-space: nowrap;
}
.footer-navbar-list-item-link {
  text-decoration: none;
  color: #0c1927;
}
.footer-navbar-list-item {
  font-size: 28px;
  line-height: 28px;
  padding-right: 1em;
}

.footer-navbar-list-item-link:hover {
  color: #3181a6;
  text-decoration: underline;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: end;
}

.item-border {
  height: 69px;
  color: #fff;
  width: 0px;
}
