h1.page-title {
  color: red;
}
.paragraph {
  text-transform: uppercase;
}

.list a {
  text-decoration: underline;
}

.list-item {
  font-size: 20px;
  display: inline;

  margin: 100;
  padding-left: 30px;
  padding-right: 30px;
}

.list-link {
  text-decoration: none;
  font-size: 20px;
  color: #dc143c;
}
.page-nav {
  padding: 10px 30px;
  background-color: magenta;
}

.page-body {
  margin: 0;
  font-family: sans-serif;
}
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.logo {
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
  font-variant: small-caps;
}
img {
  max-width: 100%;
  height: 400;
  width: 100%;
}
