.page-body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../img/bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-container {
  background-color: rgba(0, 0, 0, 40%);
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 40% 20%;
}
.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  margin-left: 5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.logo-wrap:hover .logo-text {
  color: rgb(1, 129, 63);
}
.logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: 0.3s;
}
.logo-link {
  text-decoration: none;
}

.icons {
  display: flex;
  justify-self: end;
  align-items: center;
}
.calendar {
  fill: rgb(255, 255, 255);
  width: 21px;
  height: 24px;
  margin-right: 1.5vw;
  transition: 0.3s;
}
.calendar:hover {
  fill: rgb(1, 129, 63);
}
.envelope {
  fill: rgb(255, 255, 255);
  width: 21px;
  height: 24px;
  margin-right: 1.5vw;
  transition: 0.3s;
}
.envelope:hover {
  fill: rgb(1, 129, 63);
}
.compass {
  fill: rgb(255, 255, 255);
  width: 21px;
  height: 24px;
  margin-right: 1.5vw;
  transition: 0.3s;
}
.compass:hover {
  fill: rgb(1, 129, 63);
}

.authorize {
  display: flex;
  align-items: center;
}

.authorize-text {
  font-size: 14px;
  line-height: 14px;
  color: rgb(255, 255, 255);
}
.authorize-text::before {
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 17px;
  margin-right: 1.5vw;
}
.log-in-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.log-in-link:hover {
  color: rgb(1, 129, 63);
}
.sign-up-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.sign-up-link:hover {
  color: rgb(1, 129, 63);
}
.container {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 150%;
  background-color: #fff;
}
.form-wrapper {
  padding: 30px 60px 40px 60px;
  position: relative;
}
.form-header::before {
  content: "";
  width: 19px;
  height: 19px;
  background-color: rgb(60, 184, 120);
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
}
.form-header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: baseline;
}

.form-header {
  font-size: 20px;
  line-height: 20px;
  color: rgb(67, 67, 67);
}

.form-log-in-link {
  text-decoration: none;
  color: rgb(60, 184, 120);
  justify-self: end;
  transition: 0.3s;
}
.form-log-in-link:hover {
  color: rgb(1, 129, 63);
  text-decoration: underline;
}

.buttons-wrapper {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4px;
}
.fb-button {
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 15px 20px 15px 15px;
  background-color: rgb(48, 93, 184);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.button-name-fb {
  width: 100%;
}

.button-name-fb::before {
  content: "";
  border-left: 1px solid rgb(10, 22, 47);
  font-size: 20px;
  margin-right: 55px;
}
.fb-button:hover {
  background-color: rgb(2, 34, 99);
}
.g-button {
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 15px 20px 15px 15px;
  background-color: rgb(223, 74, 50);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.button-name-g {
  width: 100%;
}
.button-name-g::before {
  content: "";
  border-left: 1px solid rgb(43, 13, 9);
  font-size: 20px;
  margin-right: 65px;
}
.g-button:hover {
  background-color: rgb(171, 31, 9);
}
.form-breaker-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.form-breaker-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  background-color: rgb(242, 242, 242);
  height: 1px;
  position: absolute;
  top: 50%;
}
.form-breaker {
  text-align: center;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  font-size: 14px;
  line-height: 14px;
  color: rgb(132, 132, 132);
}
.register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.name-input {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(242, 242, 242);
  margin-bottom: 1vw;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 20px;
  transition: 00.3s;
}
.name-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.last-name-input {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(242, 242, 242);
  margin-bottom: 1vw;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 20px;
  transition: 00.3s;
}
.last-name-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.email-input {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(242, 242, 242);
  margin-bottom: 1vw;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 20px;
  transition: 00.3s;
}
.email-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.pass-input {
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(242, 242, 242);
  margin-bottom: 1vw;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 20px;
  transition: 00.3s;
}
.pass-input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.term-cond {
  font-size: 14px;
  line-height: 14px;
  margin-left: 0.5vw;
}
.term-cond-link {
  text-decoration: none;
  transition: 00.3s;
  color: rgb(60, 184, 120);
}
.term-cond-link:hover {
  color: rgb(1, 129, 63);
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.checkbox-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.checkbox-input:checked + .checkbox {
  background-image: url(../img/tick.png);
}

.checkbox {
  width: 1em;
  height: 1em;
  border: 1px solid rgb(242, 242, 242);
}
.submit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}
.submit-form {
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(60, 184, 120, 0.8);
  width: 100%;
  padding: 16px 100px;
  cursor: pointer;
  transition: 0.3s;
}
.submit-form:hover {
  background-color: rgb(1, 129, 63);
}
