li {
  /*display: inline-block;
  /*vertical-align: middle;*/ /* baseline - по умолчанию */
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 400px;*/
  /*margin-top: 20%; */
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  border: 2px solid #000;
  width: 50%;
  box-sizing: border-box;
  height: 200px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul {
  /*text-align: right;*/
  list-style: none;
  padding: 20px;
  height: 400px;

  border: groove 2px #f00;

  display: flex;

  align-items: flex-start;
  flex-direction: column;
}
li span {
  margin: auto;
}

.text {
  display: none;
}
