.safe {
  stroke: aqua;
}

.safe-door {
  fill: rgb(24, 162, 167);
}
.safe .safe-door {
  transition: 2s;
}
.safe-door:hover {
  fill: rgb(74, 240, 8);
}
.safe {
  background: rgb(65, 55, 223);
  background: linear-gradient(
    90deg,
    rgba(65, 55, 223, 1) 0%,
    rgba(116, 1, 110, 1) 67%,
    rgba(59, 6, 69, 1) 90%
  );
}
