/*table {
  border: 1px solid #000;
  border-collapse: separate;
}

th {
  border: 1px solid #000;
}
td,
tr {
  border: 1px solid #000;
}

.blue-bgd {
  background-color: blue;
}
.yellow-bgd {
  background-color: yellow;
}
.red-bgd {
  background-color: red;
} */

/*.flex-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}
.flex-element {
  background-color: silver;
  width: calc((100% - 40px) / 3);
  margin-bottom: 20px;
}
*/

/*.flex-container {
  background-color: slateblue;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
}

.flex-element {
  background-color: lightgreen;
  width: 100px;
  margin: 10px;
  padding: 50px 0;
}

.flex-element:nth-child(2) {
  margin-right: auto;
}*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  flex-direction: column;
  height: 600px;
}

.flex-element {
  background-color: tomato;
  flex-grow: 1;
  margin: 10px;
  width: 20vw;
}
.flex-element:nth-child(1) {
  height: 100%;
  width: calc(100% - 20vw - 40px);
}
