.page-body {
  background: #000;
  color: #ffbe00;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 5vw;
  line-height: 1;
  overflow: hidden;
}
.song {
}
.container {
  margin: 0 auto;
  perspective: 350px;
  perspective-origin: bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  transform: scaleY(0.9);
}
.credits {
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  height: 100%;
  animation: play 30s infinite;
}
.headings {
  font-size: 80px;
}
.heading1 {
  font-size: 40px;
  text-align: center;
}
.heading2 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
@keyframes play {
  0% {
    transform: rotateX(21deg) translate3d(0, 100rem, 0);
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: rotateX(21deg) translate3d(0, -150rem, 0);
    opacity: 0;
  }
}
