.page-title {
  position: relative;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: aqua;
}

.page-title::before {
  content: "";
}

.page-title::after {
  content: "";
}

.list-item :first-child {
  color: #0f0;
}
.list-item:last-child {
  font-size: 1.5em;
}
.list-item :first-of-type {
  text-decoration: slateblue underline;
}

.list-item:nth-child(2) {
  color: red;
}
.link:link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  width: 100px;
  padding: 10px;
}

.link:hover::after {
  content: "->";
  margin-left: 5px;
  font-size: 2em;
}
.link:link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  width: 100px;
  padding: 10px;
}
.link:focus {
  border: 2px dashed #f00;
}
.link:visited {
  color: #0f0;
}
