.page {
  box-sizing: border-box;
  font-family: sans-serif;
}

/*.floating-element {
  float: right;
}
.floating-element:last-of-type {
  float: left;
}
.text-block {
  font-size: 30px;
  border: 1px solid springgreen;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both; /* очищает обтекание */ /*
} */
.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 400vh;
  border: 2px groove #000;
  padding: 20px;
  position: relative;
}
.pos-el {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
.pos-el--static {
  position: static; /* для значения position:static не рабоатет left, right top. bottom */
  left: 50px;
  background-color: forestgreen;
}
.pos-el--relative {
  background-color: goldenrod;
  position: relative;
  left: -50px; /* могут быть отрицательные значения, которые отталкивают В лево, не от лева */
  top: -150px;
  z-index: 1;
}
.pos-el--absolute {
  position: absolute;
  left: 0;
  top: 0;
  background-color: indianred;
}
.pos-el--fixed {
  position: fixed;
  background-color: indigo;
  right: 50px;
  bottom: 50px;
}
