.page-body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
}

.page {
  height: 100%;
}

.banner {
  background-image: url(/rabdom/havingfun/img/backgroundh.png);
  background-size: cover;
  padding-top: 500px;
  padding-bottom: 149px;
  margin-top: 0px;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.banner-title {
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;

  margin-bottom: 9px;
}

.banner-description {
  margin-top: 0;

  font-size: 18px;
  line-height: 22px;
}

.banner-slogan {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 38px 31px;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0px;
}
.accent-color {
  color: #f48e0b;
}
.banner-slogan .accent-color {
  margin-right: 52px;
}
.services {
  padding-bottom: 195px;
  padding-top: 2px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0;
  color: #333333;
}
.section-header::after {
  border-bottom: 7px solid #f48e0b;
  width: 62px;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.share-goods {
  margin-top: 80px;
  padding-bottom: 100px;
}
.section-description {
  color: #4d4943;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  margin-top: 28, 5;
  margin-bottom: 45.5px;
}

.breaker {
  height: 7px;
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
  width: 62px;
  border: none;
  margin-bottom: 42px;
}
.navlist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-header {
  padding-top: 20px;
  padding-bottom: 10px;
}
.navlist-item {
  margin-left: 69px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #f1ad1d;
  padding-bottom: 22px;
}

.navlist-item-link {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.navlist-item-link:hover {
  color: #f1ad1d;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-list-item {
  width: 268px;
  text-align: center;

  margin-left: 17px;
  border-bottom: 6px solid #333;
}
.offers-title {
  font-size: 18px;
  line-height: 22px;
  color: #505050;
  margin-bottom: 13px;
}
.first-item {
  margin-left: 0;
}
.item-title {
  background-color: #333333;
  padding: 24px 0 17px;
  font-weight: bold;
}
.item-icon {
  height: 50px;
  margin-bottom: 30px;
  object-fit: contain;
  object-position: center;
}
.item-content {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #505050;
  min-height: 70px;
}
.item-breaker {
  height: 6px;
  width: 66px;
  background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
  border: none;
  margin-bottom: 27px;
}
.offer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offer {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #505050;
}

.about-us {
  padding-bottom: 124px;
}
.block-about-us {
  display: flex;
}
.about-us-services {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  width: 50%;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-us-article {
  width: 50%;
  padding-left: 30px;
}
.about-us-article-heading {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.about-us-services-item {
  width: 270px;
  margin-bottom: 22px;
}
.about-us-services-item-link {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.text-on-image {
  position: absolute;
  left: 10px;
  bottom: 15px;
  background: #333333;

  width: 117px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 17px;
  font-size: 14px;
  line-height: 14px;
  z-index: 1;
}

.about-us-article-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
  margin-bottom: 36px;
}
.about-us-article-link {
  text-decoration: none;
  display: inline-block;
  background-color: #f1ad1d;
  width: 176px;
  padding: 19px 27px;
}
.about-us-article-link-text {
  color: #fff;
}

.filter-menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 14px;
  list-style: none;
  padding-left: 0;
}
.filter-menu-item {
  margin-bottom: 14px;
}
.filter-menu-item-link {
  text-decoration: none;
  color: #111111;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  border: 1px solid #333333;
  padding: 14px 40px;
}
.filter-menu-item-link:hover {
  color: #f1ad1d;
  background-color: #333;
}

.work-list {
  display: grid;
  list-style: none;
  padding-left: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 271px;
  column-gap: 15px;
  row-gap: 14px;
}
.work-list-item {
  position: relative;
}
.hover-for-image {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;

  padding-left: 13px;
  padding-right: 13px;
  border: 2px solid #333;
}
.hover-header {
  margin-top: 42px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
}
.hover-text {
  margin-top: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  overflow: auto;
}
.hover-breaker {
  color: #f1ad1d;
  width: 64px;
  height: 3px;
}

.hover-link {
  color: #fff;
  text-decoration: none;
  background-color: #f1ad1d;
  padding: 12px 34px;
}

.blog-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  flex-direction: column;
  height: 600px;
}

.blog-list-item {
  width: 370px;
  border-bottom: 6px solid #333;
}

.blog-footer {
  color: #828282;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-top: 11px;
}
.blog-link {
  text-decoration: none;
  color: #828282;
}
.blog-date {
  margin: 0;
}

.blog-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #505050;
}

.blog-content {
  border-bottom: solid 3px #c1c1c1;
}
.blog-header-wrapper {
  text-decoration: none;
  color: #303030;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.blog-edit-button {
  width: 39px;
  height: 35px;
  vertical-align: middle;
  background-color: #333333;
  background-image: url(../img/pencil.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.blog-image-wrapper {
  display: flex;
  text-decoration: none;
}

.blog-header {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.quote-holder {
  background-color: #dbdbdb;
  padding: 20px 20px 15px 20px;
  position: relative;
}
.quote {
  font-size: 26px;
  line-height: 30px;
  color: #666666;
  font-weight: 300;
}
.quote-author {
  font-size: 12px;
  line-height: 16px;
  color: #9c9b9b;
}
.quote-holder::after {
  content: " „ ";
  font-family: cursive;
  position: absolute;
  bottom: 17px;
  right: 27px;
  font-size: 60px;
}
