.page-body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100%;
}

.menu-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: auto;
  margin: auto;

  width: 50%;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 31.5px;
  margin-top: 31.5px;
  height: 15px;
}
.menu-item {
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-left: 72px;
}
.menu-item-link {
  text-decoration: none;
}
.item-1 {
  margin-left: 0px;
}

.background {
  background-image: url(../img/background.jpg);
  background-size: cover;
  width: 100%;
  margin-bottom: 1px;
}
.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-left: 67.5px;
  margin-right: 67.5px;
}

.text-main {
  text-align: center;
}
.text-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 38px;
}
.text-paragraph-1 {
  margin-bottom: 28px;
}
.text-paragraph-2 {
  margin-bottom: 66px;
}

.get-started-link {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  background-color: #ff0000;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  padding: 0;
  margin-top: 66px;
  text-decoration: none;
  margin-bottom: 42px;
}
.get-started-link-text {
  display: flex;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 42.5px;
  padding-right: 43.5px;
  padding-top: 18px;
  padding-bottom: 17px;
}

.basement {
  width: 1070px;
  margin-left: 105px;
  margin-right: 105px;
  margin-top: 40px;
  margin-bottom: 29px;
}

.copyright {
  float: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 2.4px;
}
