.page-body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}
.grid-element {
  background-color: #ff0;
}
