.page-body {
  font-family: sans-serif;
  box-sizing: border-box;
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-container {
  max-width: 1030px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 61px;
}
.logo-grid-cont {
  display: flex;
  align-items: center;
}
.header-logo-img {
  display: flex;
}
.site-link {
  text-transform: none;
  text-decoration: none;
  color: #fff;
}
.logo-text {
  margin-left: 8px;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
.logo-text1 {
  margin-left: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
.contacts-grid-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.contacts-mail {
  text-align: end;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  display: flex;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.5s;
}
.contacts-mail:hover {
  color: #f26522;
}
.contacts-phone {
  text-align: end;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  transition: 0.5s;
}
.contacts-phone:hover {
  color: #f26522;
}

.container {
  max-width: 1030px;
  max-height: 560px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 260px);
  gap: 40px 63px;
}

.element {
  justify-self: end;
  position: relative;
}
.content-wrapper {
  text-decoration: none;
  text-transform: none;
  color: #fff;
  transition: 00.5s;
}
.content-wrapper:hover {
  color: #f26522;
}
.site-picture {
  margin-bottom: 20px;
  border: 2px solid;
}
.site-text {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
.copyright {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-align: center;
  margin: 50px auto 15px auto;
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  background: #f26522;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.element:hover .overlay {
  height: 55px;
}
.overlay-from {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  margin-bottom: 8px;
}
.overlay-text {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  padding: 7px 12px;
}

.dynamic-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.overlay-details {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.overlay-details::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 1.5px solid #fff;
  border-top: 1.5px solid #fff;
  transform: rotate(45deg);
  margin-left: 16px;
}
.logo-grid-cont:hover .logo-text {
  color: #f26522;
}
.logo-grid-cont:hover .logo-text1 {
  color: #f26522;
}
.logo-picture {
  filter: brightness(0) invert(1);
  transition: 0.2s;
}
.logo-grid-cont:hover .logo-picture {
  filter: none;
}
